In [1]:
##Q1}

In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [2]:
## LOAD THE DATASET
ds=pd.read_csv(r"C:\Amit Dubli\ExcelR\ExcelR assignments & material\Data Science\01 Assignments\03 Hypothesis Testing\Cutlets.csv")
ds.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
UnitA=pd.Series(ds.iloc[:,0])
UnitA

0     6.8090
1     6.4376
2     6.9157
3     7.3012
4     7.4488
5     7.3871
6     6.8755
7     7.0621
8     6.6840
9     6.8236
10    7.3930
11    7.5169
12    6.9246
13    6.9256
14    6.5797
15    6.8394
16    6.5970
17    7.2705
18    7.2828
19    7.3495
20    6.9438
21    7.1560
22    6.5341
23    7.2854
24    6.9952
25    6.8568
26    7.2163
27    6.6801
28    6.9431
29    7.0852
30    6.7794
31    7.2783
32    7.1561
33    7.3943
34    6.9405
Name: Unit A, dtype: float64

In [4]:
UnitB=pd.Series(ds.iloc[:,1])
UnitB

0     6.7703
1     7.5093
2     6.7300
3     6.7878
4     7.1522
5     6.8110
6     7.2212
7     6.6606
8     7.2402
9     7.0503
10    6.8810
11    7.4059
12    6.7652
13    6.0380
14    7.1581
15    7.0240
16    6.6672
17    7.4314
18    7.3070
19    6.7478
20    6.8889
21    7.4220
22    6.5217
23    7.1688
24    6.7594
25    6.9399
26    7.0133
27    6.9182
28    6.3346
29    7.5459
30    7.0992
31    7.1180
32    6.6965
33    6.5780
34    7.3875
Name: Unit B, dtype: float64

In [5]:
# 2-sample 2-tail ttest:   stats.ttest_ind(array1,array2)    
# ind -> independent samples
p_value=stats.ttest_ind(UnitA,UnitB)
p_value

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [6]:
# 2-tail probability 
p_value[1]

0.4722394724599501

In [7]:
## compare p_value with Î± = 0.05 (At 5% significance level)

In [8]:
##Q2}

In [9]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm

In [10]:
## LOAD THE DATASET
ds=pd.read_csv(r"C:\Amit Dubli\ExcelR\ExcelR assignments & material\Data Science\01 Assignments\03 Hypothesis Testing\LabTAT.csv")
ds.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [11]:
## Anova ftest statistics: stats.f_oneway(column-1,column-2,column-3,column-4)
p_value=stats.f_oneway(ds.iloc[:,0],ds.iloc[:,1],ds.iloc[:,2],ds.iloc[:,3])
p_value

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [12]:
## compare it with Î± = 0.05
p_value[1]

2.1156708949992414e-57

In [13]:
##Q3}

In [14]:
import pandas as pd
from scipy import stats as stats
import numpy as np

In [15]:
ds=pd.read_csv(r"C:\Amit Dubli\ExcelR\ExcelR assignments & material\Data Science\01 Assignments\03 Hypothesis Testing\BuyerRatio.csv")
ds.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [16]:
ds_table=ds.iloc[:,1:6]
ds_table

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [17]:
ds_table.values

array([[  50,  142,  131,   70],
       [ 435, 1523, 1356,  750]], dtype=int64)

In [18]:
val=stats.chi2_contingency(ds_table)
val

(1.595945538661058,
 0.6603094907091882,
 3,
 array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
        [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]]))

In [19]:
type(val)

tuple

In [20]:
no_of_rows=len(ds_table.iloc[0:2,0])
no_of_columns=len(ds_table.iloc[0,0:4])
degree_of_f=(no_of_rows-1)*(no_of_columns-1)
print('Degree of Freedom=',degree_of_f)

Degree of Freedom= 3

In [21]:
Expected_value=val[3]
Expected_value

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [22]:
from scipy.stats import chi2
chi_square=sum([(o-e)**2/e for o,e in zip(ds_table.values,Expected_value)])
chi_square_statestic=chi_square[0]+chi_square[1]
chi_square_statestic

1.5152956451130446

In [23]:
critical_value=chi2.ppf(0.95,3)
critical_value

7.814727903251179

In [24]:
if chi_square_statestic >= critical_value:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [25]:
pvalue=1-chi2.cdf(chi_square_statestic,3)
pvalue

0.6787446296467897

In [26]:
if pvalue <= 0.05:
	print('Dependent (reject H0)')
else:
	print('Independent (fail to reject H0)')

Independent (fail to reject H0)

In [27]:
no_of_columns

4

In [28]:
no_of_rows

2

In [29]:
ds_table=pd.crosstab(ds['East'],ds['Observed Values'])
ds_table

Observed Values  Females  Males
East
50                     0      1
435                    1      0

In [30]:
##Q4}

In [31]:
import pandas as pd
import numpy as np
from scipy import stats
from scipy.stats import norm
from scipy.stats import chi2_contingency

In [32]:
## LOAD THE DATASET
ds=pd.read_csv(r"C:\Amit Dubli\ExcelR\ExcelR assignments & material\Data Science\01 Assignments\03 Hypothesis Testing\Costomer+OrderForm.csv")
ds

    Phillippines   Indonesia       Malta       India
0     Error Free  Error Free   Defective  Error Free
1     Error Free  Error Free  Error Free   Defective
2     Error Free   Defective   Defective  Error Free
3     Error Free  Error Free  Error Free  Error Free
4     Error Free  Error Free   Defective  Error Free
..           ...         ...         ...         ...
295   Error Free  Error Free  Error Free  Error Free
296   Error Free  Error Free  Error Free  Error Free
297   Error Free  Error Free   Defective  Error Free
298   Error Free  Error Free  Error Free  Error Free
299   Error Free   Defective   Defective  Error Free

[300 rows x 4 columns]

In [33]:
ds.Phillippines.value_counts()

Error Free    271
Defective      29
Name: Phillippines, dtype: int64

In [34]:
ds.Indonesia.value_counts()

Error Free    267
Defective      33
Name: Indonesia, dtype: int64

In [35]:
ds.Malta.value_counts()

Error Free    269
Defective      31
Name: Malta, dtype: int64

In [36]:
ds.India.value_counts()

Error Free    280
Defective      20
Name: India, dtype: int64

In [37]:
## MAKE A CONTINGENCY TABLE
obs=np.array([[271,267,269,280],[29,33,31,20]])
obs

array([[271, 267, 269, 280],
       [ 29,  33,  31,  20]])

In [38]:
## CHI2 CONTENGENCY INDEPENDENCE TEST
chi2_contingency(obs)
## O/P IS (CHI2 STATS VALUE, P_VALUE, DF, EXPECTED OBSERVATIONS)

(3.858960685820355,
 0.2771020991233135,
 3,
 array([[271.75, 271.75, 271.75, 271.75],
        [ 28.25,  28.25,  28.25,  28.25]]))